html, body, #root {
  background-color:#efefef; 
}
html, body, #root, .MuiPaper-root h2 {
  color: rgb(56,57,60);
}


.gridWrapper h1,
.gridWrapper h2,
#gettingData
{
  text-align: center;
}
.gridWrapper .MuiCard-root {
  background-color:#ccc;
}
.nasaWrapper .MuiCardMedia-root {
  width:100%;
  padding-top:100%;
}